{% extends "base.html" %}
{% block title %}Display{% endblock %}
{% block page_name %}Display{% endblock %}

{% block page_content %}

<div class="container my-5 d-flex align-items-center justify-content-center">
<div class="card" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{url_for('static', filename='working.jpg')}}" class="img-fluid" alt="Wj are working for you">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Thanks You!</h5>
          <p class="card-text">Please check your email in a couple of hours. <br>
                We'll send you the pdf, it could appear in the spam folder!</p>
          <a class="stretched-link" href="{{url_for('index')}}"></a>
          <p class="card-text"><small class="text-muted">Go back to index</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
