{% extends "base.html" %}
{% block title %}Display{% endblock %}
{% block page_name %}Display{% endblock %}

{% block page_content %}
    <a href="javascript:window.history.go(-1)">Back</a> <!-- Displayed on top of a potentially large JSON response, so it will remain visible -->
    <h1>Drive root</h1>
    <div class='row'>
        {% for drive_item in drive %}
            <div class="col-sm-4">
                <div class="card" >
                    <div class="card-body">
                        <h2>{{ drive_item.name }}</h2>
                        <h1>{{ drive_item.id }}</h1>
                        <a class="btn btn-primary" href="{{ url_for('drivechildrens',group_id = group_id, drive_item_id =  drive_item.id )}}" role="button">Get children</a>
                        <p>{{drive_item}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}