{% extends "base.html" %}
{% block title %}Display{% endblock %}
{% block page_name %}Display{% endblock %}

{% block page_content %}
    <a href="javascript:window.history.go(-1)">Back</a> <!-- Displayed on top of a potentially large JSON response, so it will remain visible -->
    <h1>Drive root</h1>
    <form action="{{ url_for('handle_data') }}" method="post">
    <input type="submit" value="Submit">
    <input type="checkbox" id="select_all"> Select All
    <div class='row'>
        {% for drive_item in drive_children %}
            <div class="col-sm-4">
                <div class="card" >
                    <div class="card-body">
                        <h2>{{ drive_item.name }}</h2>
                        <h1>{{ drive_item.id }}</h1>
                        {% if drive_item.name.endswith(".mp4") %}
                            <div>blah blah blah blah</div>
                            <a class="btn btn-primary" href="{{ url_for('drivechildrens',group_id = group_id, drive_item_id =  drive_item.id )}}" role="button">Get children</a>
                            <input type="checkbox" name="selected_teams" value="{{ drive_item }}"> Select
                        {% else %}
                            {{ super() }}
                        {% endif %}
                        <p>{{drive_item}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </form>
    <script>
        document.getElementById('select_all').onclick = function() {
            var checkboxes = document.getElementsByName('selected_teams');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        }
    </script>
    {{drive}}
{% endblock %}