{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block page_name %}Welcome{% endblock %}

{% block page_content %}
 
    <h2 class="display-4 text-center">Welcome {{ user.get("name") }}!</h2>
    <h3 class="text-center bold">What we are gonna create today?</h3>

    <div class="row">
    {% if config.get("ENDPOINT") %}
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="WYP892O56H1KFYAH.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/call_downstream_api" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% if config.get("ENDPOINT") %}
      <div class="col-sm-6">
        <div class="card text-center">
          <img src="WYP892O56H1KFYAH.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/teams" class="btn btn-primary">My Teams somewhere</a>
          </div>
        </div>
      </div>
    {% endif %}
    </div>

    {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit Profile</a></li>
    {% endif %}

    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>

{% endblock %}