<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Progress</title>
    <script>
        function checkProgress(fileId) {
            fetch(`/progress_status/${fileId}`).then(response => response.json()).then(data => {
                const overallProgress = data.progress;
                document.getElementById('overallProgressBar').style.width = overallProgress + '%';
                document.getElementById('overallProgressText').innerText = overallProgress + '%';
                if (overallProgress < 100) {
                    setTimeout(() => checkProgress(fileId), 1000);
                } else {
                    document.getElementById('downloadLink').style.display = 'block';
                    document.getElementById('loadingMessage').style.display = 'none';
                }
            });
        }

        window.onload = function() {
            const fileId = "{{ file_id }}";
            checkProgress(fileId);
        }
    </script>
    <style>
        .progress {
            width: 100%;
            background-color: #f3f3f3;
        }

        .progress-bar {
            width: 0%;
            height: 30px;
            background-color: #4caf50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Downloading Files</h1>
    <p id="loadingMessage">Please wait while we download your files...</p>
    <div class="progress">
        <div id="overallProgressBar" class="progress-bar">0%</div>
    </div>
    <p id="overallProgressText">0%</</p>
    <a id="downloadLink" style="display:none;" href="/download/{{ file_id }}">Download your file</a>
</body>
</html>
