{% extends "base.html" %}
{% block title %}Display{% endblock %}
{% block page_name %}Display{% endblock %}

{% block page_content %}
    <a href="javascript:window.history.go(-1)">Back</a> <!-- Displayed on top of a potentially large JSON response, so it will remain visible -->
    <h1>Joined Teams</h1>
  <div class='row'>
    {% for team in teams %}
    <div class="col-sm-4">
        <div class="card" >
            <div class="card-body">
                <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
                <h2>{{ team.displayName }}</h2>
                <h1>{{ team.id }}</h1>
                <p>{{team}}</p>
                <a class="btn btn-primary" href="{{ url_for('drive',group_id = team.id)}}" role="button">Team</a>
            </div>
        </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}